<div class='cms_form'>
<%  paragraph_options_form_for :month_list do |f| -%>
  <%= f.page_selector :detail_page_id %>
  <%= f.radio_buttons :overlay, [['Yes',true],['No',false]] %>
  <%= f.text_field :block_width %>
  <%= f.text_field :block_height %>
<% end -%>
</div>
